@font-face {
    font-family: "Manrope";
    src: local("Manrope"),
     url(~assets/fonts/Manrope-VariableFont_wght.ttf) format("truetype");
}

html {
    font-family: "Manrope";
    line-height: 100%;
}